*{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box{
  width: 140px;
  height: 40px;
  position: relative;
  background-color: rgb(86,176,255);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.box .content{
  position: absolute;
  top: 50px;
  left: 10px;
  width: 140px;
  display: flex;
  transform-origin: top;
  transform: scale(0);
  transition: all 0.4s;
  flex-direction: column;
}

.box .content a{
  text-decoration: none;
  color: white;
  background-color: rgb(86,176,255);
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
}

.box input:checked ~ .content{
  transform: scale(1);
}

.box i{
  transform: rotate(0);
  transition: all 0.4s;
}

.box input:checked ~ i{
  transform: rotate(-180deg)
}

.box .content a:hover{
  background-color: rgb(27,149,255);
}