body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: lightgray;
  }

  .button20 {
    text-decoration: none;
    width: 160px;
    height: 60px;
    color: black;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    position: relative;
    transition: all 0.2s;
    overflow: hidden;
  }
  
  .button20 span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 2px solid black;
    z-index: -1;
  }

  span:before {
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background-color:white;
    top: 50%;
    left: 50%;
    transition: all 0.2s;
    transform: translate(-50%, -50%) rotate(-60deg);
  }

  .button20:hover span:before {
    width: 100%;
    background-color: black;
    transform: translate(-50%, -50%) rotate(60deg);
  }

  .button20:hover {
    color: white; 
  }