body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background: lightgray;
}

/* Button Effect 1 */

.button1 {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
}

.button1:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.button1:hover:before {
  transform: rotate(0deg);
}

/* Button Effect 2 */

.button2 {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #351435;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.button2:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
}

.button2:hover:before {
  transform: translateX(0);
}

.button2:hover {
  color: white;
}

/* Button Effect 3 */

.button3 {
  padding: 40px 80px;
  font-family: sans-serif;
  text-decoration: none;
  color: #262626;
  font-size: 45px;
  border: 5px solid #262626;
  position: relative;
  transition: 1s;
}

.button3:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.button3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.button3:hover:before {
  transform: rotateX(0deg);
}

.button3:hover:after {
  transform: rotateY(0deg);
}

.button3:hover {
  color: white;
}

/* Button Effect 4 */

.button4 {
  text-decoration: none;
  padding: 40px 80px;
  color: #e1332d;
  border: 3px solid #e1332d;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'roboto';
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}

.button4:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid #e1332d;
}

/* Button Effect 5 */

.button5 {
  text-decoration: none;
  color: #351435;
  font-family: sans-serif;
  border: 3px solid #351435;
  padding: 40px 80px;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.button5:before {
  content: 'YEAH!';
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f44336;
  transform: translateY(-100%);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button5:hover:before {
  transform: translateY(0);
}

.button5:hover {
  color: white;
}

/* Button Effect 6 */

.button6 {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid white;
  padding: 40px 80px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.button6:hover {
  background-color: #f44336;
}

.button6:before {
  content: '';
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.button6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

/* Button Effect 7 */

.button7 {
  text-decoration: none;
  background-color: #262626;
  font-family: sans-serif;
  font-size: 40px;
  border: 4px solid #262626;
  padding: 40px 80px;
  position: relative;
  color: transparent;
  overflow: hidden;
}

.button7:before {
  content: 'Button 7';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.button7:after {
  content: 'Button 7';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: translate(-100%, 100%);
}

.button7:hover:before {
  transform: translate(100%, -100%);
}

.button7:hover:after {
  transform: translate(0, 0);
}

/* Button Effect 8 */

.button8 {
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 40px;
  border: 3px solid #262626;
  padding: 40px 80px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.button8:before {
  content: 'Button 8';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.button8:hover:before {
  transform: scale(1);
  opacity: 1;
}

/* Button Effect 9 */

.button9 {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  padding: 20px 40px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  color: tomato;
  overflow: hidden;
}

.button9:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: tomato;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 0%;
  transition: all 0.5s;
}

.button9:hover {
  color: white;
}

.button9:hover:before {
  height: 190%;
}

/* Button Effect 10 */

.button10 {
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f1c40f;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
}

.button10:before {
  content: 'button';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ce771;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

.button10:hover:before {
  transform: rotateX(0deg);
}

.button10:after {
  content: 'button';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

.button10:hover:after {
  transform: rotateX(0deg);
}

/* Button Effect 11 */

.button11 {
  padding: 20px 40px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  color: transparent;
  border: 3px solid #ff0;
  font-size: 30px;
  position: relative;
}

.button11:before {
  content: 'button';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.button11:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.button11:after {
  content: 'button';
  position: absolute;
  top: 0;
  left: -100;
  width: 100%;
  height: 100%;
  background-color: #363636;
  color: #ff0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.button11:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

/* Button Effect 12 */

.button12 {
  width: 220px;
  height: 80px;
  color: #ff0;
  background-color: transparent;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  transition: all 0.5s;
  position: relative;
}

.button12:before,
.button12:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff0;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: -1;
  opacity: 0;
}

.button12:before {
  left: 0;
  box-shadow: -100px 0 0 #ff0;
}

.button12:after {
  right: 0;
  box-shadow: 100px 0 0 #ff0;
}

.button12:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #ff0;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}

.button12:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #ff0;
  transform: translateX(50%) translateY(-50%);
  opacity: 1;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;
  z-index: -1;
}

.button12:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
}
.button12:hover {
  color: #262626;
  transition-delay: 0.4s;
}

/* Button Effect 13 */

.button13 {
  width: 300px;
  height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s;
  color: #fff;
}

.button13:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #20caff;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: top;
}

.button13:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.button13:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #ff7675;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.2s;
  transform-origin: bottom;
}

.button13:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

.button13:hover {
  color: #272727;
}

/* Button Effect 14 */

.button14 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-family: verdana;
  color: #f6b93b;
  letter-spacing: 3px;
  padding: 25px 50px;
  position: relative;
  border: 3px solid #f6b93b;
  transition: all 0.2s;
  overflow: hidden;
}

.button14:before,
.button14:after,
.button14 span:before,
.button14 span:after {
  content: '';
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #f6b93b;
  z-index: -1;
  transition: all 0.1s;
}

.button14:before {
  top: 100%;
  left: 0%;
}

.button14:hover:before {
  top: 0;
  left: 0;
}

.button14:after {
  top: -100%;
  right: 0;
  transition-delay: 0.3s;
}

.button14:hover:after {
  top: 0;
  right: 0;
}

.button14 span:before {
  top: -100%;
  left: 25%;
  transition-delay: 0.1s;
}

.button14:hover span:before {
  top: 0;
  left: 25%;
}

.button14 span:after {
  bottom: -100%;
  right: 25%;
  transition-delay: 0.2s;
}

.button14:hover span:after {
  bottom: 0;
  right: 25%;
}

.button14:hover {
  color: #222;
}

/* Button 15 */

.button15 {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  height: 60px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  color: #fdc518;
  position: relative;
}

.button15:before {
  content: '';
  position: absolute;
  height: 60px;
  width: 200px;
  top: -15px;
  left: 0;
  border-left: 2px solid red;
  border-right: 2px solid #fdc518;
  transition: all 0.4s;
}

.button15:after {
  content: '';
  position: absolute;
  height: 60px;
  width: 230px;
  top: 0;
  left: -15px;
  border-top: 2px solid red;
  border-bottom: 2px solid #fdc518;
  transition: all 0.4s;
  transition-delay: 0.4s;
}

.button15:hover:before {
  transform: rotateY(180deg);
}

.button15:hover:after {
  transform: rotateX(180deg);
}

/* Button 16 */

.button16 {
  border: none;
  padding: 12px 40px;
  background-color: #c47135;
  color: white;
  font-family: 'BenchNine';
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.button16:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid #c47135;
  border-left: 2px solid #c47135;
  transition: all 0.25s;
}

.button16:hover:before,
.button16:hover:after {
  height: 100%;
  width: 100%;
}

.button16:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid #c47135;
  border-right: 2px solid #c47135;
  transition: all 0.25s;
}

/* Button 17 */

.button17 {
  text-decoration: none;
  width: 160px;
  height: 60px;
  color: black;
  border: 2px solid black;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
}

.button17:hover {
  color: white;
}

.button17:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s;
}

.button17:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}

.button17 span {
  color: transparent;
  position: relative;
}

.button17 span:before {
  content: 'B';
  position: absolute;
  color: black;
  transition: all 0.2s;
}

.button17:hover span:before {
  color: white;
  font-size: 80px;
  transform: translate(-65%, -10%) rotate(360deg);
}

/*Button 18*/

.button18 {
  background-color: red;
  border: none;
  position: relative;
  width: 400px;
  height: 120px;
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  color: black;
  font-size: 45px;
  letter-spacing: 15px;
  overflow: hidden;
}

.button18:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover:before {
  left: 0;
}

.button18:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover:before {
  left: 0;
}

.button18:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover:after {
  right: 0;
}

.button18 span:before {
  content: '';
  position: absolute;
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover span:before {
  top: 0;
}

.button18 span:after {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: white;
  transition: all 0.5s;
}

.button18:hover span:after {
  bottom: 0;
}

/* Button 19 - wave effect*/

.button19 {
  text-decoration: none;
  padding: 15px 30px;
  color: #00aeff;
  font-size: 18px;
  letter-spacing: 3px;
  border: 2px solid #00aeff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.button18:hover {
  color: white;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background-color: #00aeff;
  transition: all 1s;
  z-index: -1;
}

.button19:hover .wave {
  top: 0;
}

.wave:before {
  content: '';
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url(wave.png);
  animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}
