button {
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white; 
    border: none;
    background-color: blue;
   /* 
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 2s; 
     */
    transition: background-color 3s ease-in-out 1s, color 2s ease 4s, border-radius 4s ease-out 6s;
}

button:hover {
    background-color: green;
    color: black;
    border-radius: 50%;
}





/* CSS for the transition timing buttons */

.container {
    width: 960px;
}

.move {
    margin: 2rem;
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: .5em;
    font-size: 20px;
    transition-property: translate();
    transition-duration: 3s;
}

#ease {
    transition-timing-function: ease;
}

#linear {
    transition-timing-function: linear;
}

#ease-in {
    transition-timing-function: ease-in;
}

#ease-out {
    transition-timing-function: ease-out;
}

#ease-in-out {
    transition-timing-function: ease-in-out;
}

.move:hover {
    transform: translate(900px, 0);
}

/* CSS for the translating Cat image */

img {
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 2s;
}

img:hover {
    transform: translate(-500px, 200px);

}

.cat2:hover {
    transform: scale(2, 2);
}

.cat3:hover {
/*  transform: rotate(360deg);   */
/*  transform: rotate(1turn);    */
/*  transform: rotate(-0.5turn); */
transform: rotate(200grad);
}

.cat4:hover {
    transform: skew(20deg, 40deg);
}

.cat5 {
    transform-origin: top;
}

.cat5:hover {
    transform: rotate(45deg);
}

.cat6 {
    transform-origin: 30% 80%;
}

.cat6:hover {
    transform: rotate(45deg);
}

.cat3d:hover {
    transform: rotateY(60deg);
}

body {
    perspective: 500px;
}